body {
  margin: 0; 
  padding: 0; 
}

.calculator {
  border: 1px solid black; 
  border-radius: 6px; 
  margin: 8px; 
  padding: 5px; 
}

.screen {
  border: 1px solid black; 
  border-radius: 6px; 
  margin: 8px; 
  padding: 5px;
}

.screen div {
  text-align: right;
}